<div class="container">
	<div class="span3">
		<p><%= @user.username %></p>
		<% if @user == current_user %>
			<%= render 'tweet_box' %>
		<% else %>
			
			<%= form_tag("/relationships") do %>
				
				<%= submit_tag 'Follow', class: "btn btn-large btn-primary",  data: { keybinding: '[command+enter]' } %>
			<% end %>

		<% end %>
	</div>
	
	
	<div class="span8 well">
		<div class="content-main" id="timeline">
			<div class="content-header">
				<h4>Your Timeline</h4>
			</div>
			<ul>
				<% @tweets.each do |tweet| %>
					<img src="http://placekitten.com/50/50"><p>tweet</p>
				<% end %>
			</ul>
		</div>
	</div>
</div>